Repository mertside/ai-inference-energy: changes, and which pre-commit hooks are due for each by the changed paths.
All: gpu-frequency-validation, bash-syntax-check, requirements-check

gpu-frequency-validation:
  name: GPU Frequency Validation
  entry: python3
  language: python
  pass_filenames: false
  args:
  - -c
  ...

bash-syntax-check:
  name: Bash Syntax Check
  entry: bash
  language: system
  args:
  - -n

requirements-check:
  name: Requirements Security Check
  entry: safety
  language: python
  args:
  - check
  - --file
  additional_dependencies:
  - safety

updated profiling to collect for 25 metrics with dcgmi
  README.md
  config.py
  sample-collection-scripts/README.md
  sample-collection-scripts/lib/profiling.sh
  sample-collection-scripts/profile.py
  sample-collection-scripts/profile_smi.py
  tests/README.md
Due: bash-syntax-check

improved consistency across job scripts
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

dcgmi version info
  hardware/INFO_A100.txt
  hardware/INFO_H100.txt
  hardware/INFO_V100.txt
Due: none

update readme
  README.md
  app-llama/README.md
  sample-collection-scripts/README.md
Due: none

llama now working on hpcc
  app-llama/LlamaViaHF.py
  app-llama/LlamaViaHF_backup.py
  app-llama/LlamaViaHF_original.py
  app-llama/setup/llama-environment-hpcc.yml
  app-llama/setup/llama-environment-repacss.yml
  app-llama/setup/llama-minimal.yml
Due: none

Create LICENSE
  LICENSE
Due: none

Added Whisper application (audio processing/speech recognition) for AI inference energy profiling
  README.md
  app-llama/INTEGRATION_SUMMARY.md
  app-stable-diffusion/StableDiffusionViaHF_original.py
  app-whisper/README.md
  app-whisper/WhisperViaHF.py
  app-whisper/__init__.py
  app-whisper/setup/requirements.txt
  app-whisper/setup/setup_whisper_env.sh
  app-whisper/setup/whisper-repacss.yml
  app-whisper/tests/test_whisper.py
  config.py
  documentation/README.md
  documentation/USAGE_EXAMPLES.md
  examples/README.md
  sample-collection-scripts/README.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_A100.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_H100.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_V100.md
  sample-collection-scripts/docs/MIGRATION_GUIDE.md
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check, requirements-check

archive
  app-llama/setup/archived/llama_working_environment.yml
Due: none

conda env for whisper on hpcc
  app-whisper/setup/whisper-hpcc.yml
Due: none

test whisper
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

test whisper
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

update auto conda env conf
  app-whisper/WhisperViaHF.py
  sample-collection-scripts/lib/gpu_config.sh
Due: bash-syntax-check

fix
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

added ViT
  app-vision-transformer/README.md
  app-vision-transformer/ViTViaHF.py
  app-vision-transformer/__init__.py
  app-vision-transformer/setup/setup.sh
  app-vision-transformer/setup/vit-env-repacss.yml
  config.py
  utils.py
Due: bash-syntax-check

added ViT config
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

added ViT config
  sample-collection-scripts/submit_job_a100.sh
Due: bash-syntax-check

added ViT config
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

updated with ViT
  documentation/README.md
Due: none

updated with ViT
  documentation/USAGE_EXAMPLES.md
Due: none

updated with ViT
  sample-collection-scripts/README.md
Due: none

updated with ViT
  README.md
Due: none

updated with ViT
  examples/README.md
Due: none

commented out configs for verifications on HPCC
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

added support for new apps
  sample-collection-scripts/lib/args_parser.sh
Due: bash-syntax-check

updated for new conda env
  sample-collection-scripts/lib/gpu_config.sh
Due: bash-syntax-check

updated sample images
  app-vision-transformer/ViTViaHF.py
Due: none

update image
  app-vision-transformer/ViTViaHF.py
Due: none

updated sample image urls due to comply with User-Agent policies
  app-vision-transformer/ViTViaHF.py
Due: none

minor updates
  app-vision-transformer/ViTViaHF.py
Due: none

uodate vit via hf
  app-vision-transformer/ViTViaHF.py
Due: none

minor updates
  sample-collection-scripts/control.sh
  sample-collection-scripts/control_smi.sh
Due: bash-syntax-check

ViT conda env for HPCC
  app-vision-transformer/setup/vit-env-hpcc.yml
Due: none

updated benchmark parameters for ViT
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

update examples
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

standardize syntax
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

bug fixes
  sample-collection-scripts/lib/common.sh
  sample-collection-scripts/lib/profiling.sh
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

fix
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

standardize submission scripts
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

add args
  app-stable-diffusion/StableDiffusionViaHF.py
Due: none

sd image org
  sample-collection-scripts/cleanup_sd_images.sh
  sample-collection-scripts/docs/README_IMAGE_MANAGEMENT.md
Due: bash-syntax-check

Path conditions:
  gpu-frequency-validation: any of: ^hardware/gpu_info\.py$
  bash-syntax-check: any of: \.(sh|bash)$
  requirements-check: any of: requirements\.txt$
