Repository mertside/ai-inference-energy: changes, and which pre-commit hooks are due for each by the changed paths.
All: gpu-frequency-validation, bash-syntax-check, check-version-consistency

gpu-frequency-validation:
  name: GPU Frequency Validation
  entry: python3
  language: python
  pass_filenames: false
  always_run: false
  args:
  - -c
  ...

bash-syntax-check:
  name: Bash Syntax Check
  entry: bash
  language: system
  args:
  - -n

check-version-consistency:
  name: Check Version Consistency
  entry: python3
  language: python
  pass_filenames: false
  always_run: false
  args:
  - -c
  ...

Simplify app parameter parsing in launch script
  sample-collection-scripts/launch_v2.sh
Due: bash-syntax-check

Add test for validate_gpu_available on CalledProcessError
  tests/test_utils.py
Due: none

update env creation info
  README.md
  app-llama/README.md
  app-lstm/README.md
Due: check-version-consistency

Enhance plotting functionality with customizable line styles and markers
  sample-collection-scripts/visualization/plot_metric_vs_time.py
Due: none

update plot aesthetics with serif fonts and improved title formatting
  tools/analysis/visualization/visualize_edp_results.py
Due: none

better legibility for plots
  tools/analysis/visualization/visualize_edp_summary.py
Due: none

Delete .github/workflows/dependency-management.yml
  .github/workflows/dependency-management.yml
Due: none

Path conditions:
  gpu-frequency-validation: any of: ^hardware/gpu_info\.py$
  bash-syntax-check: any of: \.(sh|bash)$
  check-version-consistency: any of: ^(setup\.py|README\.md)$
