Repository mertside/ai-inference-energy: changes, and which pre-commit hooks are due for each by the changed paths.
All: gpu-frequency-validation, bash-syntax-check, requirements-check

.pre-commit-config.yaml:

# Pre-commit hooks for AI Inference Energy project
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=50000']  # Allow large model files up to 50MB
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=127']

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile=black', '--line-length=127']

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=127', '--max-complexity=10']
        additional_dependencies:
          - flake8-docstrings
          - flake8-import-order

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', '--skip=B101,B601']  # Skip assert and shell usage warnings

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: ['--ignore-missing-imports', '--no-strict-optional']

  - repo: local
    hooks:
      - id: gpu-frequency-validation
        name: GPU Frequency Validation
        entry: python3
        language: python
        pass_filenames: false
        args:
          - -c
          - |
            from hardware.gpu_info import get_gpu_info
            for gpu in ['V100', 'A100', 'H100']:
                info = get_gpu_info(gpu)
                freqs = info.get_available_frequencies()
                assert all(f >= 510 for f in freqs), f"{gpu} has frequencies below 510 MHz"
                print(f"âœ“ {gpu}: {len(freqs)} frequencies validated")
        files: ^hardware/gpu_info\.py$

      - id: bash-syntax-check
        name: Bash Syntax Check
        entry: bash
        language: system
        args: ['-n']
        files: \.(sh|bash)$

      - id: requirements-check
        name: Requirements Security Check
        entry: safety
        language: python
        args: ['check', '--file']
        files: requirements\.txt$
        additional_dependencies: ['safety']

update conf
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

parse job ids
  sample-collection-scripts/lib/args_parser.sh
Due: bash-syntax-check

append results folder
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

append results folder
  sample-collection-scripts/submit_job_a100.sh
Due: bash-syntax-check

append results folder
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

update docs to include appended job id on results
  sample-collection-scripts/README.md
  sample-collection-scripts/docs/JOB_ID_NAMING_SUMMARY.md
Due: none

bug fixes
  sample-collection-scripts/clean.sh
Due: bash-syntax-check

Add support for customizable sampling intervals and multi-GPU monitoring
  sample-collection-scripts/config/defaults.sh
  sample-collection-scripts/docs/SAMPLING_AND_MULTIGPU_FEATURES.md
  sample-collection-scripts/launch.sh
  sample-collection-scripts/lib/args_parser.sh
  sample-collection-scripts/lib/profiling.sh
  sample-collection-scripts/profile.py
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/tests/h100_tests/diagnose_h100_na.py
  sample-collection-scripts/tests/h100_tests/h100_na_diagnostic.json
  sample-collection-scripts/tests/h100_tests/h100_optimized_config.py
  sample-collection-scripts/tests/h100_tests/test_h100_all_gpus.py
Due: bash-syntax-check

update confs
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

update example confs
  sample-collection-scripts/submit_job_a100.sh
Due: bash-syntax-check

update example confs
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

summary of changes
  sample-collection-scripts/docs/CONSISTENT_GPU_CONFIGURATIONS.md
Due: none

Update sample-collection-scripts/launch.sh
  sample-collection-scripts/launch.sh
Due: bash-syntax-check

Update README files to reflect changes in launch scripts and directory structure
  README.md
  app-stable-diffusion/README.md
  sample-collection-scripts/README.md
Due: none

support for STABLE DIFFUSION params on V100 and A100
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

Added Time-Series Visualization CLI Tool
  README.md
  edp_analysis/README.md
  edp_analysis/visualization/README.md
  edp_analysis/visualization/__init__.py
  edp_analysis/visualization/data_preprocessor.py
  edp_analysis/visualization/performance_plots.py
  edp_analysis/visualization/plot_metric_vs_time.py
  edp_analysis/visualization/power_plots.py
  edp_analysis/visualization/time_series_demo.py
Due: none

updated usage doc
  edp_analysis/visualization/README.md
Due: none

fix paths and show full tdp range
  edp_analysis/visualization/plot_metric_vs_time.py
Due: none

Add GPU Profiling Batch Plot Generator and enhance metric visualization
  edp_analysis/visualization/batch_plot_gpu.sh
  edp_analysis/visualization/plot_metric_vs_time.py
Due: bash-syntax-check

chaneg default run number
  edp_analysis/visualization/batch_plot_gpu.sh
Due: bash-syntax-check

minor fixes
  edp_analysis/visualization/batch_plot_gpu.sh
  sample-collection-scripts/lib/gpu_config.sh
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

Add EDP optimization results visualization script and optimal frequencies data
  EDP_OPTIMIZATION_FINDINGS_REPORT.md
  OPTIMIZATION_RESULTS_TABLE.md
  PLAN_20250731.md
  edp_analysis/data_aggregation/README.md
  edp_analysis/data_aggregation/aggregate_profiling_data.py
  edp_analysis/optimization/README.md
  edp_analysis/optimization/find_optimal_frequencies.py
  edp_analysis/optimization/optimal_frequencies.json
  edp_analysis/optimization/plot_edp_optimization.py
Due: none

update docs
  edp_analysis/REFACTORING_PLAN.md
  edp_analysis/docs/reproducibility_guide.md
  edp_analysis/docs/user_guide.md
  edp_analysis/examples/README.md
  edp_analysis/examples/analyze_new_data.py
  edp_analysis/examples/analyze_new_data_current.py
Due: none

post refactoring fixes
  edp_analysis/examples/analyze_aggregated_data.py
  edp_analysis/examples/analyze_new_data_current.py
  edp_analysis/examples/analyze_new_data_simple.py
  edp_analysis/examples/debug_analysis.py
  edp_analysis/examples/first_analysis_results/optimization_results.json
Due: none

examples
  edp_analysis/examples/first_analysis_results/deploy_optimal_frequencies.sh
  edp_analysis/examples/first_analysis_results/optimization_summary.txt
Due: bash-syntax-check

refactoring
  edp_analysis/REFACTORING_COMPLETION_SUMMARY.md
  edp_analysis/examples/USAGE_GUIDE.md
  edp_analysis/examples/comprehensive_analysis/OPTIMIZATION_RESULTS_SUMMARY.md
  edp_analysis/examples/comprehensive_analysis/analysis_summary.json
  edp_analysis/examples/comprehensive_analysis/deploy_optimized_frequencies.sh
  edp_analysis/examples/enhanced_frequency_analysis.py
  edp_analysis/examples/enhanced_results/enhanced_optimization_results.json
  edp_analysis/examples/enhanced_results/frequency_sweep_analysis.pdf
  edp_analysis/examples/enhanced_results/optimal_selection.pdf
  edp_analysis/examples/enhanced_results/pareto_analysis.pdf
  edp_analysis/examples/enhanced_results_v2/enhanced_optimization_results.json
  edp_analysis/examples/enhanced_results_v2/frequency_sweep_analysis.pdf
  edp_analysis/examples/enhanced_results_v2/optimal_selection.pdf
  edp_analysis/examples/enhanced_results_v2/pareto_analysis.pdf
  edp_analysis/examples/final_demo/analysis_summary.json
  edp_analysis/examples/simple_test/analysis_summary.json
  edp_analysis/examples/simple_test/deploy_optimized_frequencies.sh
  edp_analysis/examples/simple_unified_analysis.py
  edp_analysis/examples/unified_analysis.py
  edp_analysis/visualization/advanced_plotter.py
  edp_analysis_simplified/README.md
  edp_analysis_simplified/REORGANIZATION_SUMMARY.md
  edp_analysis_simplified/__init__.py
  edp_analysis_simplified/core/__init__.py
  edp_analysis_simplified/core/analysis.py
  edp_analysis_simplified/core/utils.py
  edp_analysis_simplified/data_aggregation/__init__.py
  edp_analysis_simplified/data_aggregation/aggregator.py
  edp_analysis_simplified/data_aggregation/data_aggregation
  edp_analysis_simplified/demo_results/analysis_results.json
  edp_analysis_simplified/demo_results/deploy_frequencies.sh
  edp_analysis_simplified/demo_results/optimization_report.md
  edp_analysis_simplified/demo_results/validate_deployment.sh
  edp_analysis_simplified/frequency_optimization/__init__.py
  edp_analysis_simplified/frequency_optimization/algorithms.py
  edp_analysis_simplified/frequency_optimization/deployment.py
  edp_analysis_simplified/optimize_gpu_frequency.py
  edp_analysis_simplified/test_results/analysis_results.json
  edp_analysis_simplified/visualization/__init__.py
  edp_analysis_simplified/visualization/plots.py
Due: bash-syntax-check

clean up
  edp_analysis/examples/README.md
  edp_analysis/examples/USAGE_GUIDE.md
  edp_analysis/examples/analyze_aggregated_data.py
  edp_analysis/examples/analyze_new_data.py
  edp_analysis/examples/analyze_new_data_current.py
  edp_analysis/examples/analyze_new_data_simple.py
  edp_analysis/examples/comprehensive_analysis/OPTIMIZATION_RESULTS_SUMMARY.md
  edp_analysis/examples/comprehensive_analysis/analysis_summary.json
  edp_analysis/examples/comprehensive_analysis/deploy_optimized_frequencies.sh
  edp_analysis/examples/debug_analysis.py
  edp_analysis/examples/enhanced_frequency_analysis.py
  edp_analysis/examples/enhanced_results/enhanced_optimization_results.json
  edp_analysis/examples/enhanced_results/frequency_sweep_analysis.pdf
  edp_analysis/examples/enhanced_results/optimal_selection.pdf
  edp_analysis/examples/enhanced_results/pareto_analysis.pdf
  edp_analysis/examples/enhanced_results_v2/enhanced_optimization_results.json
  edp_analysis/examples/enhanced_results_v2/frequency_sweep_analysis.pdf
  edp_analysis/examples/enhanced_results_v2/optimal_selection.pdf
  edp_analysis/examples/enhanced_results_v2/pareto_analysis.pdf
  edp_analysis/examples/final_demo/analysis_summary.json
  edp_analysis/examples/first_analysis_results/deploy_optimal_frequencies.sh
  edp_analysis/examples/first_analysis_results/optimization_results.json
  edp_analysis/examples/first_analysis_results/optimization_summary.txt
  edp_analysis/examples/simple_test/analysis_summary.json
  edp_analysis/examples/simple_test/deploy_optimized_frequencies.sh
  edp_analysis/examples/simple_unified_analysis.py
  edp_analysis/examples/unified_analysis.py
Due: bash-syntax-check

Minor refactoring and reorganization of EDP analysis framework for improved structure and usability
  EDP_OPTIMIZATION_FINDINGS_REPORT.md
  Makefile
  OPTIMIZATION_RESULTS_TABLE.md
  PLAN_20250731.md
  PRODUCTION_DEPLOYMENT_GUIDE.md
  app-llama/README.md
  app-llama/setup/README-llama-environment.md
  app-stable-diffusion/StableDiffusionViaHF.py
  config.py
  documentation/AI_INVESTIGATION_REPORT_A100.md
  documentation/AI_INVESTIGATION_REPORT_V100.md
  documentation/EXTENSION_STRATEGY_2025.md
  documentation/PRACTICAL_TASK_GUIDE.md
  documentation/README.md
  documentation/README_POWER_MODELING.md
  documentation/STABLE_DIFFUSION_REVISION.md
  edp_analysis/REFACTORING_COMPLETION_SUMMARY.md
  edp_analysis/REFACTORING_PLAN.md
  edp_analysis_simplified/REORGANIZATION_SUMMARY.md
  edp_analysis_simplified/demo_results/optimization_report.md
  examples/simple_power_modeling_demo.py
  hardware/HAL_ROADMAP.md
  hardware/README.md
  requirements-dev.txt
  requirements.txt
  sample-collection-scripts/docs/COMPLETION_SUMMARY.md
Due: requirements-check

added reqs
  requirements.txt
Due: requirements-check

updated requirements-dev
  requirements-dev.txt
Due: none

update
  README.md
Due: none

update FGCSPowerModelingFramework
  README.md
  hardware/HAL_ROADMAP.md
  hardware/README.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_A100.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_H100.md
  sample-collection-scripts/visualization/README.md
  tests/test_integration.py
  tests/test_power_modeling_framework.py
Due: none

placeholder test
  tests/test_power_modeling_framework.py
Due: none

docs: replace invalid emoji in README
  README.md
Due: none

Handle single frequency count
  hardware/gpu_info.py
  tests/test_hardware_module.py
Due: gpu-frequency-validation

Add GPU usage guide and fix documentation links
  README.md
  documentation/GPU_USAGE_GUIDE.md
  documentation/README.md
Due: none
