Repository mertside/ai-inference-energy: changes, and which pre-commit hooks are due for each by the changed paths.
All: gpu-frequency-validation, bash-syntax-check, requirements-check

gpu-frequency-validation:
  name: GPU Frequency Validation
  entry: python3
  language: python
  pass_filenames: false
  args:
  - -c
  ...

bash-syntax-check:
  name: Bash Syntax Check
  entry: bash
  language: system
  args:
  - -n

requirements-check:
  name: Requirements Security Check
  entry: safety
  language: python
  args:
  - check
  - --file
  additional_dependencies:
  - safety

CI: test only with Python 3.8
  .github/workflows/ci.yml
  .github/workflows/gpu-tests.yml
Due: none

update interactive scripts
  README.md
  app-stable-diffusion/README.md
  app-stable-diffusion/sd_sd-v1.4_2025-07-07_22-56-09.png
  documentation/GPU_USAGE_GUIDE.md
  documentation/README.md
  documentation/RUNNING_STABLE_DIFFUSION_ON_HPCC.md
  sample-collection-scripts/README.md
  sample-collection-scripts/interactive_a100.sh
  sample-collection-scripts/interactive_gpu.sh
  sample-collection-scripts/interactive_h100.sh
  sample-collection-scripts/interactive_v100.sh
Due: bash-syntax-check

Speed up framework integration test
  tests/test_integration.py
Due: none

revised and tested job submission on V100
  README.md
  V100_UNIFICATION_SUMMARY.md
  documentation/README.md
  sample-collection-scripts/README.md
  sample-collection-scripts/V100_SCRIPT_GUIDE.md
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-0
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-1
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-2
  sample-collection-scripts/results/GV100-baseline-lstm-perf.csv
  sample-collection-scripts/results/LSTM_RUN_OUT
  sample-collection-scripts/submit_job_v100.sh
  sample-collection-scripts/submit_job_v100_baseline.sh
  sample-collection-scripts/submit_job_v100_comprehensive.sh
  sample-collection-scripts/submit_job_v100_custom_app.sh
Due: bash-syntax-check

Ensure test integration imports use insert
  tests/test_integration.py
Due: none

Remove test_output.log and ignore
  .gitignore
  test_output.log
Due: none

Capture logs in logging integration test
  tests/test_integration.py
Due: none

Limit end-to-end pipeline test to polynomial model
  tests/test_power_modeling_framework.py
Due: none

Use polynomial model in framework tests
  tests/test_power_modeling_framework.py
Due: none

Fix run_command test for CompletedProcess
  tests/test_python_compatibility.sh
Due: bash-syntax-check

updated job submission scripts
  README.md
  sample-collection-scripts/JOB_SCRIPT_GUIDE_A100.md
  sample-collection-scripts/JOB_SCRIPT_GUIDE_H100.md
  sample-collection-scripts/JOB_SCRIPT_GUIDE_V100.md
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-0
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-1
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-2
  sample-collection-scripts/results/GV100-baseline-lstm-perf.csv
  sample-collection-scripts/results/LSTM_RUN_OUT
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_a100_baseline.sh
  sample-collection-scripts/submit_job_a100_comprehensive.sh
  sample-collection-scripts/submit_job_a100_custom_app.sh
  sample-collection-scripts/submit_job_comprehensive.sh
  sample-collection-scripts/submit_job_custom_app.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_h100_baseline.sh
  sample-collection-scripts/submit_job_h100_comprehensive.sh
  sample-collection-scripts/submit_job_h100_custom_app.sh
Due: bash-syntax-check

Update output file naming convention to include GPU type and profiling mode
  sample-collection-scripts/launch.sh
Due: bash-syntax-check

Implement dynamic output redirection for application parameters in launch script
  V100_UNIFICATION_SUMMARY.md
  sample-collection-scripts/launch.sh
Due: bash-syntax-check

Enhance H100 job submission script with conda environment checks and logging
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

FOR REPACSS: Add PyTorch LSTM sentiment analysis model and update job submission script for profiling
  app-lstm/lstm_pytorch.py
  sample-collection-scripts/lstm_pytorch.py
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

Fix pytest collection for stable diffusion scripts
  app-stable-diffusion/tests/complete_test.py
  app-stable-diffusion/tests/final_success_test.py
Due: none

result verification needed
  hardware/INFO_V100.txt
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-1
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-2
  sample-collection-scripts/results/GA100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GA100-baseline-lstm-perf.csv
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-0
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-1
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-2
  sample-collection-scripts/results/GV100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GV100-baseline-lstm-perf.csv
Due: none

Add GPU requirement to LSTM scripts
  app-lstm/lstm.py
  sample-collection-scripts/lstm.py
Due: none

Update H100 core frequency to 1785 MHz in configuration and related scripts
  config.py
  sample-collection-scripts/README.md
  sample-collection-scripts/control.sh
  sample-collection-scripts/control_smi.sh
  sample-collection-scripts/launch.sh
  tests/test_hardware_module.py
Due: bash-syntax-check

cleanup
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-1
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-2
  sample-collection-scripts/results/GA100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GA100-baseline-lstm-perf.csv
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-0
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-1
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-2
  sample-collection-scripts/results/GV100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GV100-baseline-lstm-perf.csv
Due: none

Add GPU type auto-detection
  sample-collection-scripts/README.md
  sample-collection-scripts/launch.sh
Due: bash-syntax-check

Update H100 memory frequency to maximum value of 2619 MHz across documentation and scripts
  README.md
  config.py
  hardware/gpu_info.py
  sample-collection-scripts/JOB_SCRIPT_GUIDE_H100.md
  sample-collection-scripts/README.md
  sample-collection-scripts/control.sh
  sample-collection-scripts/control_smi.sh
  sample-collection-scripts/launch.sh
  sample-collection-scripts/submit_job_h100.sh
  tests/test_hardware_module.py
Due: gpu-frequency-validation, bash-syntax-check

update env
  app-stable-diffusion/sd_sd-v1.4_2025-07-08_22-27-12.png
  app-stable-diffusion/stable-diffusion-gpu-20250709.yml
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-0
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-1
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-2
  sample-collection-scripts/results/GV100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GV100-baseline-lstm-perf.csv
Due: none

Update README.md with quick start and advanced usage examples; remove deprecated YAML environment file
  app-stable-diffusion/README.md
  app-stable-diffusion/stable-diffusion-gpu-20250708.yml
Due: none

update readme
  app-stable-diffusion/README.md
Due: none

working lstm env on repacss
  app-lstm/README.md
  app-lstm/lstm-h100-20250708.yml
  app-lstm/lstm_modern.py
  app-lstm/lstm_pytorch.py
  app-lstm/requirements_h100.txt
  app-lstm/requirements_h100_minimal.txt
  app-lstm/setEnv.sh
Due: bash-syntax-check

update to lstm
  app-lstm/lstm_fixed.py
Due: none

Refactor LSTM scripts for TensorFlow 2.19.0 compatibility; remove deprecated files and update launch scripts for executable paths
  app-lstm/lstm.py
  app-lstm/lstm_fixed.py
  app-lstm/lstm_modern.py
  sample-collection-scripts/launch.sh
  sample-collection-scripts/lstm.py
  sample-collection-scripts/lstm_pytorch.py
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

Add LSTM model results and performance metrics; update job submission scripts
  sample-collection-scripts/launch.sh
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-0
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-1
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-2
  sample-collection-scripts/results/GH100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GH100-baseline-lstm-perf.csv
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

Fix profiling framework: resolve app execution and remove obsolete temporary file logic
  sample-collection-scripts/launch.sh
Due: bash-syntax-check

h100 demo
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-0
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-1
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-2
  sample-collection-scripts/results/GH100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GH100-baseline-lstm-perf.csv
Due: none

cleanup
  app-lstm/setEnv.sh
  app-lstm/setup/lstm-env-hpcc.yml
  app-lstm/setup/lstm-env-repacss.yml
  app-lstm/setup/requirements_lstm_repacss.txt
  app-lstm/setup/requirements_lstm_repacss_minimal.txt
Due: bash-syntax-check

sample runs
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-0
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-1
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-2
  sample-collection-scripts/results/GA100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GA100-baseline-lstm-perf.csv
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-0
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-1
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-2
  sample-collection-scripts/results/GV100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GV100-baseline-lstm-perf.csv
Due: none

Fix script guide link and remove duplicate H100 line
  README.md
Due: none

docs: add unified H100 SLURM script
  sample-collection-scripts/README.md
Due: none

Update dataset sample counts in LSTM README
  app-lstm/README.md
Due: none

add working repacss env
  app-stable-diffusion/images/sd_sd-v1.4_2025-07-07_22-56-09_v100.png
  app-stable-diffusion/images/sd_sd-v1.4_2025-07-08_22-27-12_v100.png
  app-stable-diffusion/images/sd_sd-v1.4_2025-07-09_12-08-00_h100.png
  app-stable-diffusion/setup/sd-env-hpcc.yml
  app-stable-diffusion/setup/sd-env-repacss.yml
Due: none

sd job ready
  app-stable-diffusion/images/sd_sd-v1.4_2025-07-09_12-46-56_001_h100.png
  app-stable-diffusion/images/sd_sd-v1.4_2025-07-09_12-46-56_002_h100.png
  app-stable-diffusion/images/sd_sd-v1.4_2025-07-09_12-46-56_003_h100.png
  app-stable-diffusion/images/sd_sd-v1.4_2025-07-09_12-47-51_h100.png
  sample-collection-scripts/submit_job.sh
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

bug fixes
  sample-collection-scripts/launch.sh
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

Added dynamic environment selection for jobs
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

Path conditions:
  gpu-frequency-validation: any of: ^hardware/gpu_info\.py$
  bash-syntax-check: any of: \.(sh|bash)$
  requirements-check: any of: requirements\.txt$
