Repository mertside/ai-inference-energy: changes, and which pre-commit hooks are due for each by the changed paths.
All: gpu-frequency-validation, bash-syntax-check, requirements-check

.pre-commit-config.yaml:

# Pre-commit hooks for AI Inference Energy project
# Install with: pip install pre-commit && pre-commit install

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=50000']  # Allow large model files up to 50MB
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: pretty-format-json
        args: ['--autofix']
      - id: check-toml
      - id: check-xml
      - id: debug-statements
      - id: check-docstring-first
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable

  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3
        args: ['--line-length=127']

  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ['--profile=black', '--line-length=127']

  - repo: https://github.com/PyCQA/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=127', '--max-complexity=10']
        additional_dependencies:
          - flake8-docstrings
          - flake8-import-order

  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.5
    hooks:
      - id: bandit
        args: ['-r', '--skip=B101,B601']  # Skip assert and shell usage warnings

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-requests, types-PyYAML]
        args: ['--ignore-missing-imports', '--no-strict-optional']

  - repo: local
    hooks:
      - id: gpu-frequency-validation
        name: GPU Frequency Validation
        entry: python3
        language: python
        pass_filenames: false
        args:
          - -c
          - |
            from hardware.gpu_info import get_gpu_info
            for gpu in ['V100', 'A100', 'H100']:
                info = get_gpu_info(gpu)
                freqs = info.get_available_frequencies()
                assert all(f >= 510 for f in freqs), f"{gpu} has frequencies below 510 MHz"
                print(f"âœ“ {gpu}: {len(freqs)} frequencies validated")
        files: ^hardware/gpu_info\.py$

      - id: bash-syntax-check
        name: Bash Syntax Check
        entry: bash
        language: system
        args: ['-n']
        files: \.(sh|bash)$

      - id: requirements-check
        name: Requirements Security Check
        entry: safety
        language: python
        args: ['check', '--file']
        files: requirements\.txt$
        additional_dependencies: ['safety']

bug fixes
  sample-collection-scripts/launch.sh
  sample-collection-scripts/profile.py
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-0
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-1
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-2
  sample-collection-scripts/results/GH100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GH100-baseline-lstm-perf.csv
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

unified profiling options; add performance results for LSTM and Stable Diffusion; update job submission script.
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-51-52.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-52-57.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-54-00.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-59-42.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_19-01-33.png
  documentation/nvidia-smi-help-query-gpu.txt
  documentation/profiling_commands.md
  sample-collection-scripts/profile.py
  sample-collection-scripts/profile_smi.py
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-0
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-1
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-2
  sample-collection-scripts/results/GH100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-1785-0
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-1785-1
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-1785-2
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-RUN-OUT
  sample-collection-scripts/results/GH100-baseline-lstm-perf.csv
  sample-collection-scripts/results/GH100-baseline-stable-diffusion-perf.csv
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

cleanup
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-51-52.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-52-57.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-54-00.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_18-59-42.png
  app-stable-diffusion/sd_sd-v1.4_2025-07-09_19-01-33.png
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-0
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-1
  sample-collection-scripts/results/GA100-baseline-LSTM-1410-2
  sample-collection-scripts/results/GA100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GA100-baseline-lstm-perf.csv
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-0
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-1
  sample-collection-scripts/results/GH100-baseline-LSTM-1785-2
  sample-collection-scripts/results/GH100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-1785-0
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-1785-1
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-1785-2
  sample-collection-scripts/results/GH100-baseline-StableDiffusion-RUN-OUT
  sample-collection-scripts/results/GH100-baseline-lstm-perf.csv
  sample-collection-scripts/results/GH100-baseline-stable-diffusion-perf.csv
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-0
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-1
  sample-collection-scripts/results/GV100-baseline-LSTM-1380-2
  sample-collection-scripts/results/GV100-baseline-LSTM-RUN-OUT
  sample-collection-scripts/results/GV100-baseline-lstm-perf.csv
Due: none

Add profiling library and refactor job submission scripts
  sample-collection-scripts/README.md
  sample-collection-scripts/config/defaults.sh
  sample-collection-scripts/docs/COMPLETION_SUMMARY.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_A100.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_H100.md
  sample-collection-scripts/docs/JOB_SCRIPT_GUIDE_V100.md
  sample-collection-scripts/docs/MIGRATION_GUIDE.md
  sample-collection-scripts/launch_v2.sh
  sample-collection-scripts/legacy/control.sh
  sample-collection-scripts/legacy/control_smi.sh
  sample-collection-scripts/legacy/launch.sh
  sample-collection-scripts/legacy/profile.py
  sample-collection-scripts/legacy/profile_smi.py
  sample-collection-scripts/lib/args_parser.sh
  sample-collection-scripts/lib/common.sh
  sample-collection-scripts/lib/gpu_config.sh
  sample-collection-scripts/lib/profiling.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/tests/test_color_output.sh
  sample-collection-scripts/tests/test_framework.sh
  sample-collection-scripts/tests/test_results/test_suite.log
Due: bash-syntax-check

Implement automatic results directory naming and enhance profiling scripts; remove obsolete test script
  app-lstm/lstm.py
  sample-collection-scripts/README.md
  sample-collection-scripts/docs/RESULTS_NAMING_SUMMARY.md
  sample-collection-scripts/launch_v2.sh
  sample-collection-scripts/lib/args_parser.sh
  sample-collection-scripts/lib/profiling.sh
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
  sample-collection-scripts/test.sh
Due: bash-syntax-check

update gitignore
  .gitignore
Due: none

add launch v2 for job scripts
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

fix syntax
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

logging bug fix
  sample-collection-scripts/launch_v2.sh
Due: bash-syntax-check

fix recommended run counts by GPU type
  sample-collection-scripts/config/defaults.sh
Due: bash-syntax-check

use any h100 node
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

Update README and update cleanup script with new options for selective cleaning
  sample-collection-scripts/README.md
  sample-collection-scripts/clean.sh
Due: bash-syntax-check

major bug fixes
  sample-collection-scripts/config/defaults.sh
  sample-collection-scripts/lib/profiling.sh
Due: bash-syntax-check

bug fix conda env
  sample-collection-scripts/lib/gpu_config.sh
Due: bash-syntax-check

output formatting
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

bug fixes
  config.py
  sample-collection-scripts/README.md
  sample-collection-scripts/lib/profiling.sh
  sample-collection-scripts/profile.py
  sample-collection-scripts/profile_smi.py
Due: bash-syntax-check

resolved inconsistencies
  README.md
  __init__.py
  config.py
  power_modeling/README.md
  sample-collection-scripts/README.md
  sample-collection-scripts/config/defaults.sh
  sample-collection-scripts/launch_v2.sh
  setup.py
Due: bash-syntax-check

update
  .gitignore
Due: none

update for consistent timeouts
  sample-collection-scripts/config/defaults.sh
  sample-collection-scripts/lib/profiling.sh
Due: bash-syntax-check

report workload abnormalities
  documentation/AI_INVESTIGATION_REPORT_A100.md
  documentation/AI_INVESTIGATION_REPORT_V100.md
Due: none

update workflows
  .github/workflows/ci.yml
  .github/workflows/gpu-tests.yml
  sample-collection-scripts/tests/test_results/test_suite.log
Due: none

Update sample-collection-scripts/tests/test_framework.sh
  sample-collection-scripts/tests/test_framework.sh
Due: bash-syntax-check

Update sample-collection-scripts/lib/common.sh
  sample-collection-scripts/lib/common.sh
Due: bash-syntax-check

Update sample-collection-scripts/lib/args_parser.sh
  sample-collection-scripts/lib/args_parser.sh
Due: bash-syntax-check

added three-point frequency analysis
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

Fixed Custom Frequency Implementation Errors
  sample-collection-scripts/launch_v2.sh
  sample-collection-scripts/lib/args_parser.sh
  sample-collection-scripts/lib/common.sh
  sample-collection-scripts/lib/profiling.sh
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

uncomment config
  sample-collection-scripts/submit_job_a100.sh
Due: bash-syntax-check

example config
  sample-collection-scripts/submit_job_h100.sh
Due: bash-syntax-check

Unify energy validation logic
  edp_analysis/energy_profiler.py
Due: none

Fix memory specification example
  hardware/gpu_info.py
Due: gpu-frequency-validation

Add tests for run_command failure and timeout
  tests/test_utils.py
Due: none

Update Python version requirements to 3.8
  app-llama/README.md
  examples/README.md
  sample-collection-scripts/legacy/profile_smi.py
  sample-collection-scripts/profile_smi.py
  tests/README.md
  tests/test_configuration.py
Due: none

prep towards llama
  app-llama/INTEGRATION_SUMMARY.md
  app-llama/LlamaViaHF.py
  app-llama/LlamaViaHF_backup.py
  app-llama/README.md
  app-llama/setup/README.md
  app-llama/setup/conda_env_a100.yml
  app-llama/setup/conda_env_generic.yml
  app-llama/setup/conda_env_h100.yml
  app-llama/setup/conda_env_v100.yml
  app-llama/setup/setup_llama.sh
  config.py
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

successfull llama bench run
  app-llama/LlamaViaHF.py
  app-llama/setup/archived/conda_env_a100.yml
  app-llama/setup/archived/conda_env_generic.yml
  app-llama/setup/archived/conda_env_v100.yml
  app-llama/setup/archived/h100_setup_test.sh
  app-llama/setup/archived/setup_llama.sh
  app-llama/setup/conda_env_h100.yml
  app-llama/setup/llama_conda_env_h100.yml
  sample-collection-scripts/submit_job_a100.sh
  sample-collection-scripts/submit_job_h100.sh
  sample-collection-scripts/submit_job_v100.sh
Due: bash-syntax-check

bug fix
  sample-collection-scripts/launch_v2.sh
Due: bash-syntax-check

update llama conda env
  app-llama/setup/README-llama-environment.md
  app-llama/setup/archived/conda_env_a100.yml
  app-llama/setup/archived/conda_env_generic.yml
  app-llama/setup/archived/conda_env_v100.yml
  app-llama/setup/llama-environment.yml
  app-llama/setup/llama-minimal.yml
Due: none
